{% extends "home/base.html" %}

{% block title %}
Pandithire | Home
{% endblock %}

{% block content %}

{% include "home/sections/hero.html" %}

{% include "home/sections/services.html" %}

{% include "home/sections/all_services_list.html" %}

{% include "home/sections/why.html" %}

{% include "home/sections/testimonials.html" %}

{% include "home/sections/faq.html" %}

{% include "home/sections/booking.html" %}

{% include "home/sections/location.html" %}

{% include "home/sections/contact.html" %}

{% include "home/sections/cta.html" %}

{% endblock %}