{% load static %}

<section class="locations-section" id="locations">

<div class="container">

    <div class="location-heading">

        <span>BOOK A PANDIT IN MUMBAI</span>

        <h2>मुंबई में अपने क्षेत्र के अनुसार पंडित बुक करें</h2>

        <p>
            अपने नजदीकी क्षेत्र का चयन करें।
        </p>

    </div>

    <div class="locations-grid">

        <a href="#" class="location-card">
            <img src="{% static 'images/andheri.jpeg' %}" alt="">
            <span>Andheri</span>
        </a>

        <a href="#" class="location-card">
            <img src="{% static 'images/bandra.jpg' %}" alt="">
            <span>Bandra</span>
        </a>

        <a href="#" class="location-card">
            <img src="{% static 'images/goregoan.jpeg' %}" alt="">
            <span>Goregaon</span>
        </a>

        <a href="#" class="location-card">
            <img src="{% static 'images/malad.jpeg' %}" alt="">
            <span>Malad</span>
        </a>

        <a href="#" class="location-card">
            <img src="{% static 'images/kandivali.jpeg' %}" alt="">
            <span>Kandivali</span>
        </a>

        <a href="#" class="location-card">
            <img src="{% static 'images/borivali.jpeg' %}" alt="">
            <span>Borivali</span>
        </a>

        <a href="#" class="location-card">
            <img src="{% static 'images/dadar.jpeg' %}" alt="">
            <span>Dadar</span>
        </a>

        <a href="#" class="location-card">
            <img src="{% static 'images/powai.jpeg' %}" alt="">
            <span>Powai</span>
        </a>

        <a href="#" class="location-card">
            <img src="{% static 'images/kurla.jpg' %}" alt="">
            <span>Kurla</span>
        </a>

        <a href="#" class="location-card">
            <img src="{% static 'images/chembur.jpeg' %}" alt="">
            <span>Chembur</span>
        </a>

        <a href="#" class="location-card">
            <img src="{% static 'images/ghatkkopar.jpg' %}" alt="">
            <span>Ghatkopar</span>
        </a>

        <a href="#" class="location-card">
            <img src="{% static 'images/thane.jpeg' %}" alt="">
            <span>Thane</span>
        </a>

    </div>

</div>

</section>